* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Georgia ", serif;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
  }  

main {
    margin-top: 5rem;   
}

header {
    height: 7rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;    
}

#blue {
    color: cadetblue;
}

 div h1 {
    color: white;
    font-size: 4rem;
    padding-left: 2rem;
    text-decoration: underline;
    text-decoration-color: #333;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
    overflow: hidden;
}

header li {
    float: right;
    padding: 5px;
}

header li a {
    font-size: 2rem;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* border: 0.01rem solid cadetblue; */
    border-radius: 10px;
    background-color: #333;
}

header li a:hover {
    background-color: rgba(95, 158, 160, 0.5);
}

#mission {

    display: flex;
    
    height: 40rem;
    width: 90%;

    background-image: url("../images/trial.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  
  #mission .content {
    margin: auto;
    background-color: rgba(255,255,255,0.6);    
    width: 100%;
  }

  h2 {
    font-weight: bold;
    font-size: 5rem;
  }

  #mission .content .heading {
    font-weight: bold;
    font-size: 3rem;
    opacity: 1;
  }

  #mission .content .small-content {
    font-weight: bold;
    font-size: 2rem;
    opacity: 1;
  }

h2,
h3,
h4,
p {
  margin: 0;
  padding: 10px;
}

#our-tracks {
  min-height: 500px;
  margin: auto;
  padding-top: 70px;
}

.tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
  background-image: url("../images/track-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 30rem;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid black;

  background-color: rgba(255,255,255,0.7);

}

.track img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px;
  height: 20rem;
}

.track span {
  padding: 5px;
  min-width: 240px;
  font-weight: bold;
  text-align: center;
}

#our-tracks  h3{
  font-size: 2.5rem;
  font-weight: bold;
}

#our-cars {
  min-height: 500px;
  margin: auto;
  padding-top: 70px;
}

.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
  background-image: url("../images/car-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.car {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 27rem;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid black;

  background-color: rgba(255,255,255,0.7);

}

.car img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px;
  height: 20rem;
}

#our-cars  h3{
  font-size: 2.5rem;
  font-weight: bold;
}



footer {
    width: 100%;
    background-color: cadetblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.background {
  padding: 3rem 1.5rem;
}

.background h2 {
  font-size: 3.5rem;
  font-weight: bolder;
  color: black;
  text-align: center;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  text-align: center;
  color:black;
}

h5 {
  font-size: 0.625rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  text-align: center;
  color: black;
  text-shadow: 0.125rem 0.125rem 0.5rem gray;
  }